.wrap{ background: white; padding: 90px 40px; border-radius: 10px; box-shadow: 5px 5px 5px rgba(0,0,0,.3); position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); margin: 0; }
.wrap h2 { margin-bottom: 40px; }
